.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

@media (min-width: 992px){
  .form-container {
    box-sizing: border-box;
    position: relative;
    width: 860px;
    margin: 0 auto;
    text-align: left;
  }
}
@media (min-width: 1200px){
  .form-container {
    box-sizing: border-box;
    position: relative;
    width: 960px;
    margin: 0 auto;
  }

}


@media (min-width: 1400px){
.form-container {
  box-sizing: border-box;
  position: relative;
  width: 1080px;
  margin: 0 auto;
}
}